* {
  margin: 0;
  padding: 0;
}

.main {
  width: 200px;
  float: left;
  padding: 30px;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 5px;
}


/*
.copy{
  font-size: 11px;
font-family: 'Josefin Sans';
float:none;
color: #fff;
  letter-spacing: 1px;
}
*/

a {
  text-decoration: none;
  color: #000;
}

.lit-btn {
  font-family: 'Josefin Sans';
  letter-spacing: 2.5px;
  padding: 15px 15px;
  margin: 5px;
  margin-top: 20px;
  font-size: 11px;
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: all 1.5s;
}

.lit-btn::before,
.lit-btn::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.lit-btn::before {
  top: 0;
  left: 0;
  border-top: .5px solid #fff;
  border-left: .5px solid #fff;
}

.lit-btn::after {
  right: 0;
  bottom: 0;
  border-right: .5px solid #fff;
  border-bottom: .5px solid #fff;
}

.lit-btn:hover {
  background-color: #fff;
  opacity: 0.65;
  color: #000;
  transition: all 2s;
}

.lit-btn:hover::before,
.lit-btn:hover::after {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 1s;
}

.lit-btnn {
  padding: 20px 30px;
  font-family: 'Josefin Sans';
  font-size: 12px;
  color: #004b6b;
  letter-spacing: 2.5px;
  text-decoration: none;
  transition: 0.7s;
/*  margin: 10px;*/
}

.lit-btnn:hover {
  background: #004b6b;
  color: #fff;
}

.nav-top {
  margin: 20px;
  float: left;
}

.icon {
  width: 30px;
  float: left;
  padding-top: 19px;
  margin: 3px;
  opacity: 0.7;
}

.second-menu{
  max-width: 1300px;
  margin: 0 auto;
}

.nav-second {
  position: fixed;
  float: left;
  max-width: 1000px;
padding: 20px;
  margin: 0 auto;
/*  list-style-type: none;*/
}

nav li {
  float: left;
  list-style-type: none;
}

.second {
  height: 550px;
  float: left;
  margin: 0 auto;
  margin-right: 25px;
  padding-top: 80px;
}

.top-menu{
  max-width: 1500px;
  margin: 0 auto;
}

/*about*/

.p-about {
  margin-top: 200px;
  margin: 0 auto;
  color: #555;
}

.content {
  width: 100%;
  height: 100%;
}

.profile-all{
  width: 1600px;
  margin: 0 auto;
  float: left;
}

/*
#a{
  margin: 60px 0;
  
}
*/

.section {
  margin: 0;
}

h2 {
  font-family: bold;
  font-size: 12px;
}

.profile {
  width: 300px;
  float: left;
  padding-top: 150px;
}

.col-english {
  font-size: 12px;
  float: left;
  width: 500px;
  padding-right: 30px;
  padding-left: 50px;
  padding-top: 110px;
}

.col-japanese {
  font-size: 12px;
  float: left;
  width: 500px;
  padding-left: 10px;
  padding-top: 110px;
}


/*mobile*/

@media (max-width: 400px) {
  nav a {
    font-size: 10px !important;
    font-family: -apple-system, Sans-Serif;
  }
  a {
    display: inline-block;
  }
  main {
    width: 200px;
    float: left;
    padding: 30px 5px;
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 5px;
  }
  nav li {
    margin: 20px;
    padding: 10px;
    float: none;
    height: 10px;
    padding-top: 5px;
    margin-top: 20px;
  }
  .nav-second {
    float: left;
    position: static;
  }
  .lit-btn {
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 70px;
  }
  .lit-btnn {
    padding: 5px 5px;
    font-family: -apple-system, Sans-Serif;
    font-size: 10px;
    color: #004b6b;
    text-decoration: none;
    transition: 0.7s;
    float: left;
    margin: 0;
  }
  .second {
    width: 100%;
    height: auto;
    margin-top: 25px;
    float: left;
    margin: 0 auto;
    padding-top: 25px;
  }
  .profile {
    width: 100%;
    float: left;
    padding-top: 50px;
    text-align: center;
  }
  .col-english {
    font-size: 9px;
    float: left;
    width: 100%;
    padding-top: 50px;
  }
  .col-japanese {
    font-size: 9px;
    float: left;
    width: 100%;
    padding-top: 50px;
  }
}